body {
    background-image: url("background.png");
}

#longbreak {
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 0px;
    right: 5.6%;
    bottom: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
}

#longbreak-2 {
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 0px;
    right: 5.6%;
    bottom: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
}

#longbreak-3 {
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 0px;
    right: 5.6%;
    bottom: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
}

#themoreyouknow {
    width: 310px;
    height: 100px;
}

#box1 {
    text-align: center;
    font-size: 11px;
    position: relative;
    right: 3px;
    margin: auto;
}

#projects {
    display: none;
    text-align: center;
    font-size: 11px;
    position: relative;
    right: 3px;
    margin: auto;
}