body {
    background-image: url("background.png");
}

#hellobox {
    position: relative;
    left: 200px;
    display: none;
    margin-right: 20px;
    user-select: none;
}

#themoreyouknow {
    width: 310px;
    height: 100px;
}

#phoneError {
    display: none;
    position: relative;
    margin: auto auto;
}

#taskbar {
    background-color: #bfbfbf;
    width: 101vw;
    height: 28px;
    position: fixed;
    user-select: none;
    bottom: 0;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: white;
    left: -5px;
}

#basicinfo {
    position: relative;
    left: 45%;
    display: none;
    bottom: 30%;
    user-select: none;
    margin-left: 0px;
    box-sizing: border-box;
}

#projects {
    visibility: hidden;
    position: relative;
    margin-right: 0%;
    scroll-margin-right: 0%;
    display: none;
    user-select: none;
    margin: 0;
    box-sizing: border-box;
    bottom: 200px;
}

#taskbar-div {
    border-left: 1px solid #808080;
    border-right: 1px solid white;
    margin-right: 0px;
    margin-left: 0px;
    width: 0px;
    height: 23px;
    position: inherit;
    margin-left: 4.5%;
    margin-right: 50px;
    bottom: 2px;
}

#taskbar-div-2 {
    border-left: 1px solid #808080;
    border-right: 1px solid white;
    margin-right: 0px;
    margin-left: 0px;
    width: 0px;
    height: 23px;
    position: inherit;
    right: 5.6%;
    bottom: 2px;
}

#startbutton {
    position: inherit;
    left: 2px;
    bottom: 3px;
    width: 45.6px;
    height: 23px;
    text-align: center;
    font-size: 12.333px;
}

#infotray {
    background-color: #c0c0c0;
    width: 96px;
    height: 23px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    position: inherit;
    font-size: 12px;
    right: 5px;
}

#clock {
    color: black;
    text-align: center;
}

#trayicons {
    position: relative;
    bottom: -4px;
}

#longbreak {
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
    margin-right: 0px;
    margin-left: 0px;
    width: 300px;
    height: 0px;
    position: inherit;
    right: 5.6%;
    bottom: 2px;
    margin-bottom: 7px;
}

#longbreak-2 {
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
    margin-right: 0px;
    margin-left: 0px;
    width: 300px;
    height: 0px;
    position: inherit;
    right: 5.6%;
    bottom: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
}

#taskbar-container {
    background-color: transparent;
    margin: 1px 1px 1px 1px;
    width: 90%;
    height: 28px;
    position: relative;
    display: flex;
    gap: 5px;
    bottom: -3px;
    flex-direction: row;
    justify-content: flex-start;
    left: 82px;
}

.program-bar {
    width: 150px;
    height: 23px;
    background-color: #c0c0c0;
    text-align: center;
    position: relative;
    text-align: left;
    bottom: 2px;
    left: 20px;
}

.program-name {
    position: relative;
    bottom: 3px;
    margin-right: 5px;
}